/* 
    Document   : david.css
    Created on : 15 sept. 2013, 13:04:11
    Author     : David
    Description:
        Purpose of the stylesheet follows.
*/

body { 
    background-image: url("../img/background.jpg")
}