{% extends "DavidDepenseBundle::layout.html.twig" %}

{% block body %}
 <div class="row-fluid">
    <div class="span9">
        <h1>Liste des catégories</h1>
        <h2><a href="{{ path('daviddepense_category_add')}}">Ajouter une catégorie</a></h2>
        <ul>
        {% for category in categories %}
            <li>{{ category.name }}
                <span><a href ="{{ path('daviddepense_category_delete', {'id': category.id}) }}">Supprimer</a></span>
                <span><a href ="{{ path('daviddepense_category_edit', {'id': category.id}) }}">Editer</a></span>
            </li>
        {% endfor%}
        </ul>
    </div><!--/span-->
 </div>

{% endblock body %}